.shares-large-block {

	@include _768 {
		grid-column: 6 span;
	}
	
	@media (min-width: 1300px) {
		grid-column: 8 span;
		&.is-min {
			grid-column: 7 span;
		}	
	}

	display: grid;
	grid-template-rows: subgrid;
	gap: 0;
	grid-row: 2 span;

	&.is-light & {
		&__title {
			color: var(--white);
		}

		&__text {
			color: var(--white);
		}

		&__read-more {
			color: var(--white);
		}
	}

	// .shares-large-block__body

	&__body {
		position: relative;
		flex: 1 1 auto;
		margin-bottom: 24px;

		@media (min-width: 1200px) {
			margin-bottom: 44px;
		}

		display: flex;
		flex-direction: column;

		padding: 20px;

		@include _550 {
			padding: 33px 30px 23px 30px;
		}

		@media (min-width: 1300px) {
			padding: 63px 30px 53px 60px;
		}
	}

	// .shares-large-block__background

	&__background {
		position: absolute;
		left: 0; top: 0;
		width: 100%; height: 100%;
		z-index: -1;

		&::after {
			content: '';
			position: absolute;
			left: 0; top: 0;
			width: 100%; height: 100%;
			background: var(--watermark) center / contain no-repeat;
			opacity: .5;
		}

		img {
			
			width: 100%; height: 100%;
			object-fit: cover;
		}
	}

	// .shares-large-block__title

	&__title {

	}

	// .shares-large-block__text

	&__text {
		flex: 1 1 auto;

		color: #504D4D;
		line-height: 150%;
		font-size: 1rem;
		@include _550 {
			font-size: 1.125rem;
		}
		
		@include _992 {
			font-size: 1.25rem;
		}
	}

	// .shares-large-block__read-more

	&__read-more {
		margin-top: 15px;

		display: inline-flex;
		align-items: center;

		color: #404040;
		font-family: var(--title-font);
		font-weight: 700;
		line-height: 190.909%;
		text-decoration: underline;
		font-size: 1rem;
		&:hover {
			text-decoration: underline;
		}
		@include _550 {
			font-size: 1.175rem;
		}
		
		@include _992 {
			font-size: 1.375rem;
		}

		i {
			margin-right: 15px;
		}
	}
}
