input, textarea {
	&::placeholder {
		transition: opacity .2s ease;
		opacity: 1;
	}
	
	&:focus::placeholder {
		opacity: 0;
	}
}

.checkbox {

	display: flex;
	cursor: pointer;

	&.is-alternative & {

		&__element {
			background: #F6F6F6;
		}

		&__text {
			margin-top: 5px;
			font-size: 0.9375rem;
			line-height: 120%;
		}
		
	}

	// .checkbox__input

	&__input {
		position: absolute;
		width: 1px; height: 1px;
		margin: -1px; padding: 0;
		border: 0;
		
		white-space: nowrap;
		clip-path: inset(100%);
		clip: rect(0 0 0 0);
		overflow: hidden;
	}

	&__input:checked + &__element svg {
		opacity: 1;
	}

	// .checkbox__element

	&__element {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 25px; height: 25px; flex: 0 0 25px;
		margin-right: 10px;

		color: var(--accent);
		border: 1px solid #E3E3E3;
		border-radius: 3px;

		svg {
			transition: opacity .3s ease;
			opacity: 0;
		}
	}

	// .checkbox__text

	&__text {
		user-select: none;
		color: #4F4F4F;
		@include _992 {
			font-size: 1.125rem;
		}
		font-size: 1rem;
		line-height: 133.333%;
		font-weight: 350;
		-webkit-text-stroke-width: 0.5px;
	}
}

.input {
	padding: 12px 20px;
	background: #F6F6F6;
	border: 1px solid #E7E7E7;

	&._error {
		border-color: tomato;
	}

	font-variant: normal;
	&[type="password"] {
		font-family: "arial", sans-serif;
		&::placeholder {
			font-family: var(--main-font);
		}
	}

	@include _550 {
		padding: 14px 26px;
	}

	@include _992 {
		font-size: 1.125rem;
	}
	font-size: 1rem;
	line-height: 130%;
	font-weight: 350;
	-webkit-text-stroke-width: .5px;
	color: #393939;
	&::placeholder {
		color: #565656;
	}

	&:focus {
		color: var(--black);
	}

	transition: color .2s ease, border-color .2s ease;
}

.select {
	padding: 12px 20px;
	background: #F6F6F6;
	border: 1px solid #E7E7E7;

	&._error {
		border-color: tomato;
	}

	font-variant: normal;

	@include _550 {
		padding: 14px 26px;
	}

	@include _992 {
		font-size: 1.125rem;
	}

	font-size: 1rem;
	line-height: 130%;
	font-weight: 400;
	color: #BBB;
	-webkit-appearance: none;

	&:focus {
		color: var(--black);
	}

	transition: color .2s ease, border-color .2s ease;
}

.datepicker-cell.selected, .datepicker-cell.selected:hover {
	background: var(--accent);
}

[class^="jsr"] {
	box-sizing: border-box;
}

.jsr {
	display: block;

	position: relative;

	padding-top: 10px;

	width: 100%;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-touch-callout: none;
	-khtml-user-select: none;


}

.jsr.is-disabled {
	background: grey;
}

.jsr_rail {
	height: 5px;
	background: #EFEFEF;
}

.jsr_slider {
	position: absolute;
	top: calc(5px / 2 + 10px);
	left: 0;

	transform: translate(-50%, -50%);

	width: 25px;
	height: 25px;

	cursor: col-resize;
	transition: background 0.1s ease-in-out;

	outline: 0;

	z-index: 3;
}

.jsr_slider:focus {
	z-index: 4;
}

.jsr_slider::before {
	content: '';
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: var(--white);
	border: 1px solid var(--accent);
	border-radius: 50%;
}

.jsr_slider::after {
	content: '';
	width: 7px;
	height: 7px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: var(--accent);
	border-radius: 50%;
}

.jsr_label {
	position: absolute;
	top: calc(10px + 5px + 15px / 1.5);
	transform: translateX(-50%);
	padding: 0.2em 0.4em;
	background: var(--white);
	color: var(--text-color);
	font-size: 1.125rem;
	white-space: nowrap;
	z-index: 2;
	cursor: col-resize;
	opacity: 1;
}

.jsr_label.is-hidden {
	opacity: 0;
	pointer-events: none;
}

.jsr_bar {
	position: absolute;
	height: 5px;
	background: #A78F7A;
	z-index: 2;
	cursor: move;
	top: 10px;
}

.jsr_limit {
	position: absolute;
	z-index: 1;
	pointer-events: none;
	height: 5px;
	top: 10px;
	background-color: #EFEFEF;
}

.jsr_grid {
	margin-top: 5px;
	width: 100%;
}

.jsr_lockscreen {
	overflow: hidden;
	height: 100%;
	width: 100%;
}

