@use 'sass:math';

:root {
	accent-color: #A78F7A;

	--title-font: 'Ysabeau', sans-serif;
	--main-font: 'Circe', sans-serif;
	
	--accent: #A78F7A;
	--accent-hover: #b69f8a;
	--accent-active: #987f6a;
	--accent-2: #F50909;
	--accent-2-active: #dc0505;

	--white: #FFF;
	--black: #000;
	--text-color: #202121;

	--gold: #F0B811;

	--mob-container-padding: 20px;
	--container-padding: 60px;

	--watermark: url("data:image/svg+xml,%3Csvg viewBox='0 0 651 431' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M651 0H332.048H299.711H0V430.924H299.711H332.048H651V0ZM150.326 374.409C87.3931 371.741 34.616 321.762 28.8683 259.088C26.8588 238.107 30.0672 218.066 37.1546 200.023C38.7535 195.886 40.8928 191.877 43.032 187.999C49.309 177.044 56.9255 167.017 65.3526 157.672L155.814 56.5151L245.875 157.402C255.772 168.498 264.588 180.522 271.264 193.876C273.133 197.755 275.002 201.893 276.472 206.3C281.02 219.265 283.149 233.159 283.149 246.923C283.138 319.093 223.014 377.348 150.326 374.409ZM622.813 402.737H332.048H311.336V28.1984H332.048H622.813V402.737Z' fill='white' fill-opacity='0.2'/%3E%3Cpath d='M155.779 171.018C113.417 171.018 79.082 205.353 79.082 247.715C79.082 290.077 113.417 324.412 155.779 324.412C198.141 324.412 232.616 290.066 232.616 247.715C232.616 205.353 198.141 171.018 155.779 171.018Z' fill='white' fill-opacity='0.2'/%3E%3Cpath d='M461.509 374.403C534.197 377.341 594.332 319.087 594.332 246.927C594.332 233.163 592.193 219.27 587.655 206.305C586.186 201.897 584.317 197.748 582.448 193.881C575.771 180.516 566.944 168.491 557.058 157.407L466.997 56.5195L375.737 158.476C367.861 167.292 360.773 176.778 354.755 187.074C352.346 191.212 350.077 195.631 348.338 200.039C341.251 218.081 338.052 238.122 340.051 259.104C345.799 321.755 398.576 371.734 461.509 374.403ZM466.856 171.03C509.219 171.03 543.694 205.365 543.694 247.727C543.694 290.089 509.219 324.424 466.856 324.424C424.494 324.424 390.16 290.078 390.16 247.727C390.16 205.365 424.494 171.03 466.856 171.03Z' fill='white' fill-opacity='0.2'/%3E%3C/svg%3E%0A");
}

html, body {
	font-size: 16px;
	min-height: 100%;
	min-width: 320px;
}

body {

	font-family: var(--main-font);
	font-weight: 400;
	line-height: 150%;
	text-underline-offset: 5px;

	display: flex;
	flex-direction: column;

	&._mob-menu-active {
		overflow: hidden;
	}

	&._popup-active {
		overflow: hidden;
	}

	&.is-overflow-hidden {
		overflow: hidden;
	}
	
}

.image-aspect-ratio {
	width: 100%; position: relative;
	padding-top: var(--padding-aspect-ratio);
}

.image-aspect-ratio img {
	position: absolute;
	left: 0; top: 0;
	width: 100%; height: 100%;
	object-fit: cover;
}

section {
	position: relative;
	z-index: 2;
}

.wrapper {
	flex: 1 1 auto;

	display: flex;
	flex-direction: column;
}

.main {
	overflow: hidden;

	flex: 1 0 auto;
	position: relative;

	padding-bottom: 100px;
	&.is-flex {
		display: flex;
		flex-direction: column;

		padding-bottom: 0;
	}
}

.container {
	padding-left: var(--mob-container-padding);
	padding-right: var(--mob-container-padding);
	
	@media(min-width: #{$containerMin}px) {
		padding-left: max(var(--container-padding), calc(50% - #{math.div($container, 2)}px));
		padding-right: max(var(--container-padding), calc(50% - #{math.div($container, 2)}px));

		&.is-min {
			padding-left: max(var(--container-padding), calc(50% - #{math.div($containerMin, 2)}px));
			padding-right: max(var(--container-padding), calc(50% - #{math.div($containerMin, 2)}px));
		}
	}

	
}

@media (any-hover: hover) {
	.active-hover:hover .icon-link{
		background: var(--white);
		color: var(--accent);
		&::before {
			border-color: var(--accent);
		}
	}

	.active-hover:active .icon-link {
		box-shadow: -5px 5px 25px -5px rgba(167, 143, 122,0.7);
	}
}

.icon-link {
	display: flex;
	align-items: center;
	justify-content: center;

	@media (min-width: 1200px) {
		width: 118px; height: 118px; flex: 0 0 118px;
		&._min {
			width: 90px; height: 90px; flex: 0 0 90px;
		}
	}
	width: 60px; height: 60px; flex: 0 0 60px;
	border-radius: 50%;
	background: var(--accent);
	color: var(--white);
	&._light {
		background: var(--white);
		color: var(--accent);
		&::before {
			border-color: var(--accent);
		}
		@media (any-hover: hover) {
			&:hover {
				background: #F1F1F1;
				//color: var(--white);
				&::before {
					//border-color: var(--white);
				}
			}

			&:active {
				box-shadow: -5px 5px 25px -5px rgba(167, 143, 122,0.7);
			}
		}	
	}
	
	position: relative;
	&::before {
		content: '';
		position: absolute;
		left: 6px; top: 6px;
		width: calc(100% - 12px); height: calc(100% - 12px);
		border-radius: 50%;
		border: 1px dashed rgba(255,255,255,0.5);

		transition: border-color .2s ease;
	}

	transform: rotate(-30deg);
	box-shadow: -15px 15px 25px -5px rgba(167, 143, 122,0.5);

	transition: background .3s ease, box-shadow .3s ease, color .3s ease;

	@media (any-hover: hover) {
		&.active-hover:hover {
			background: var(--white);
			color: var(--accent);
			&::before {
				border-color: var(--accent);
			}
		}

		&.active-hover:active {
			box-shadow: -5px 5px 25px -5px rgba(167, 143, 122,0.7);
		}
	}

	svg {
		width: 35%; height: auto;
	}	
}

.btn {
	cursor: pointer;
	display: inline-block;
	text-align: center;
	
	padding: 28px 35px;
	&.is-min {
		padding: 20px 35px;
	}

	&.is-alternative {
		background: transparent;
		border: 1px solid var(--accent);
		padding: 26px 33px;
		color: var(--accent);
		&.is-min {
			padding: 18px 33px;
		}
		
		@media (any-hover: hover) {
			&:hover {
				background: var(--accent);
				color: var(--white)
			}

			&:active {
				background: var(--accent-active);
				color: var(--white)
			}
		}
	}

	background: var(--accent);
	color: var(--white);
	@media (any-hover: hover) {
		&:hover {
			background: var(--accent-hover);
		}
		
		&:active {
			background: var(--accent-active);
		}
	}

	border-radius: 0;

	font-size: 1rem;

	@include _550 {
		font-size: 1.175rem;
		&.is-min {
			font-size: 1.125rem;
		}
	}
	
	@include _768 {
		font-size: 1.25rem;
		&.is-min {
			font-size: 1.125rem;
		}
	}
	
	@include _992 {
		font-size: 1.375rem;
		&.is-min {
			font-size: 1.125rem;
		}
	}
	line-height: 118%;
	font-weight: 700;

	transition: background .3s ease, color .3s ease;
}

.visually-hidden {
	position: absolute;
	width: 1px; height: 1px;
	margin: -1px; padding: 0;
	border: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.visible-on-mob {
	@include _992 {
		display: none !important;
	}
}

.visible-on-desktop {
	@media (max-width: 991px) {
		display: none !important;
	}
}

.splide__arrow--prev svg {
	transform: none;
}

.splide__arrow:focus-visible {
	outline: none;
}

[aria-hidden="true"] {
	user-select: none; pointer-events: none;
}

.read-more-link {
	display: inline-flex;
	align-items: center;

	font-size: 1rem;
	
	@include _768 {
		font-size: 1.125rem;
	}
	
	@include _992 {
		font-size: 1.35rem;
	}

	@include _container {
		font-size: 1.5rem;
	}

	line-height: 175%;
	font-weight: 700;
	color: var(--accent);

	span {
		text-decoration: underline;
		text-decoration-skip: none;
		text-underline-offset: 3px;

		padding-right: 10px;
	}

	i {
		display: inline-flex;
		align-items: center;
		justify-content: center;

		width: 33px; height: 33px; flex: 0 0 33px;

		@include _992 {
			width: 53px; height: 53px; flex: 0 0 53px;
		}

		border-radius: 50%;
		border: 1px solid var(--accent);
		background: var(--white);
		color: var(--accent);

		box-shadow: -10px 10px 25px -5px rgba(167, 143, 122,0.5);

		margin-left: 12px;

		transition: background .2s ease, color .2s ease;

		svg {
			width: 40%; height: auto;
			transform: rotate(5deg);
		}
	}

	@media (any-hover: hover) {
		&:hover i {
			background: var(--accent);
			color: var(--white);
		}
		
		&:active i {
			background: var(--accent-active);
			color: var(--white);
		}
	}
}

.splide__track--nav>.splide__list>.splide__slide {
	border: 0;
}

.splide__track--nav>.splide__list>.splide__slide.is-active {
	border: 0;
}

.slider-arrow-btn {
	position: static;
	width: 35px; height: 35px;
	@include _992 {
		width: 55px; height: 55px;
	}

	svg {
		width: 25%; height: auto;
	}

	border: 1px solid var(--accent);
	color: var(--accent);

	&.splide__arrow--prev {
		margin-right: 10px;
	}

	display: flex;
	align-items: center;
	justify-content: center;

	transform: none;
	border-radius: 0;
	background: var(--white);

	transition: opacity .3s ease;
	&:disabled {
		pointer-events: none;
	}

	@media (any-hover: hover) {
		transition: background .3s ease, color .3s ease, opacity .3s ease;
		&:not([disabled]):hover {
			background: var(--accent);
			color: var(--white);
		}
		
		&:not([disabled]):active {
			background: var(--accent-active);
			color: var(--white);
		}
	}
}

.product-length {

	width: 134px;
	padding: 5px 4px;
	border: 1px solid #262626;

	display: grid;
	grid-template-columns: 40px 44px 40px;

	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 40px; height: 40px;

		position: relative;
		background: var(--text-color);
		@media (any-hover: hover) {
			transition: background .2s ease;
			&:hover {
				background: #353535;
			}
			
			&:active {
				background: #0b0b0b;
				transition: background .1s ease;
			}
		}

		&.to-minus {
			&::before {
				content: '';
				position: absolute;
				left: 50%; top: 50%;
				width: 40%; height: 2px;
				background: var(--white);
				transform: translate(-50%,-50%);
			}
		}

		&.to-plus {
			&::before, &::after {
				content: '';
				position: absolute;
				left: 50%; top: 50%;
				background: var(--white);
				translate: -50% -50%;
			}

			&::before {
				width: 40%; height: 2px;
			}

			&::after {
				width: 2px; height: 40%;
			}
		}
	}

	&__input {
		width: 44px;
		text-align: center;
	}
}
