body {
	padding-right: var(--popup-padding);
}

.popup {
	position: fixed;
	left: 0; top: 0;
	width: 100%; height: 100%; min-width: 320px;

	display: flex;
	align-items: center;

	padding: 10px;

	z-index: 6;

	opacity: 0; visibility: hidden;
	transition: opacity .4s ease, visibility .4s ease;

	@include _992 {
		backdrop-filter: blur(5px);
	}

	&._transition-none {
		transition: none;
	}

	&._transition-none &-body {
		transition: none;
	}

	&._active._transition-none &-body {
		transition: none;
	}

	will-change: opacity, visibility;

	&._active {
		opacity: 1; visibility: visible;
	}

	&-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;

		min-height: 100%; width: 100%;

		z-index: 2;
	}
	&-bg {
		position: absolute;
		left: 0; top: 0;
		width: 100%; height: 100%;

		background: rgba(0, 0, 0, 0.71);

	}
	&-body {
		margin: auto;
		position: relative;
		background: white;
		
		overflow-y: auto;
		max-height: calc(var(--svh,1vh) - 30px);
		max-height: calc(100svh - 30px);
		max-width: 700px;
		width: 100%;

		padding: 15px;
		@include _550 {
			padding: 30px;
		}

		z-index: 2;
	}
	&-close-btn {
		position: absolute;
		right: 15px; top: 15px;
		line-height: 100%;
		width: 40px; height: 40px;
		color: var(--text-color);
	  
		& svg {
		  width: 50%;
		}

		background: white;
		z-index: 10;
	}
}

.search-popup {

	// .search-popup__wrapper

	&__wrapper {
		
	}

	// .search-popup__bg

	&__bg {
	}

	// .search-popup__close-btn

	&__close-btn {
		background: transparent;
		color: var(--white);
		top: 0; right: 0;
		width: 50px; height: 50px;

		svg {
			width: 40%; height: auto;
		}
	}

	// .search-popup__body

	&__body {
		background: transparent;

		margin-top: 0;
		padding: 50px 10px 30px;
	}

	// .search-popup__form

	&__form {
		background: var(--white);

		border-radius: 5px;

		position: relative;

		display: flex;
		
		label {
			flex: 1 1 auto;
			display: flex;

			input {
				padding: 15px 0 15px 15px;
				width: 100%;
				background: transparent;
			}
		}

		button[type="submit"] {
			width: 50px; flex: 0 0 50px;
			background: transparent;
		}
	}
}

@keyframes loader {
	to {
		rotate: 360deg;
	}
}

.stories-popup {

	padding: 0;

	// .stories-popup__wrapper

	&__wrapper {
	}

	// .stories-popup__bg

	&__bg {
	}

	// .stories-popup__body

	&__body {
		background: transparent;
		padding: 0;
		margin: 0;

		width: 100%;
		max-width: none;
		border-radius: 0;

		@include _550 {
			padding: 0;
		}
	}

	&__volume {
		position: absolute;
		left: 15px; top: 15px;
		width: 40px; height: 40px;

		display: inline-flex;
		align-items: center;
		justify-content: center;

		background: transparent;
		color: var(--white);
		z-index: 3;

		svg {
			fill: transparent;
		}

		@media (any-hover: hover) {
			transition: color .2s ease;
			&:hover {
				color: var(--accent);
			}
			
			&:active {
				color: var(--accent-active);
			}
		}
	}

	// .stories-popup__close-btn

	&__close-btn {
		z-index: 3;
		top: 15px;

		background: transparent;
		color: var(--white);

		@media (any-hover: hover) {
			transition: color .2s ease;
			&:hover {
				color: var(--accent);
			}
			
			&:active {
				color: var(--accent-active);
			}
		}
	}

	// .stories-popup__slider

	&__slider {
		overflow: hidden;
	}

	// .stories-popup__track

	&__track {
		margin-left: 5vw; margin-right: 5vw;
		@include _992 {
			margin-left: 30vw; margin-right: 30vw;
		}
		&.splide__track {
			overflow: visible;
		}
	}

	&__arrow {
		height: 100%;
		border-radius: 0;
		width: 0px;
		@include _992 {
			width: 30vw;
		}
		opacity: 0;
		&:not(:disabled):hover {
			opacity: 0;
		}

		&:disabled {
			opacity: 0;
			pointer-events: none;
		}
	}

	// .stories-popup__list

	&__list {
	}

	// .stories-popup__slide

	&__slide {
		position: relative;
		z-index: 2;

		display: flex;
		flex-direction: column;
		align-items: center;

		width: 90vw;
		@include _992 {
			width: max(40vw, 55vh);
		}
		
		&.is-active {
			z-index: auto;
		}

		text-align: center;
	}

	&__slide.is-active-video &__video-preview {
		opacity: 0; visibility: hidden;
	}

	&__slide.is-active-video &__video {
		opacity: 1;
	}

	// .stories-popup__video

	&__video {
		display: inline-block;
		width: 100%; height: 100%;
		max-height: calc(var(--svh,1vh) - 90px);
		max-height: calc(100svh - 90px);

		cursor: pointer;

		@include _992 {
			//height: 90svh; 
			width: auto;
			max-height: calc(var(--svh,1vh) - 90px);
			max-height: calc(100svh - 90px);
		}
		background: var(--black);
		opacity: 0;
		/* transition: opacity .2s ease;
		opacity: 0; */

		&-wrapper {
			position: relative;
			z-index: 2;
			
			display: inline-flex;
			overflow: hidden;
			border-radius: 15px;

			margin-top: 40px;
			margin-left: 5px; margin-right: 5px;
			min-height: calc(100% - 40px);
			
			@include _992 {
				margin-top: 40px;
				margin-left: 0; margin-right: 0;
			}

			background: var(--black);

			//padding: 0 100px;
		}
	}

	&__video-preview {
		position: absolute;
		left: 0; top: 0;
		width: 100%; height: 100%;
		pointer-events: none;
		transition: opacity .3s ease, visibility .3s ease;
		opacity: 1; visibility: visible;
		img {
			width: 100%; height: 100%;
			object-fit: cover;
		}
	}

	&__text {
		color: var(--white);
		position: absolute;
		left: 0; bottom: 0px;
		width: 100%;
		z-index: 2;
		box-shadow: inset 0 -25px 25px 0px rgba(0, 0, 0, 0.4);
		padding: 15px;
		
		a {
			color: var(--white);
			text-decoration: underline;
			text-decoration-skip: none;
			text-underline-offset: 3px;
		}
	}

	// .stories-popup__video-progress

	&__video-progress {
		position: absolute;
		left: 10px;; top: 10px;
		width: calc(100% - 20px); height: 2px;
		pointer-events: none;
		background: rgba(255, 255, 255, 0.5);
		z-index: 2;

		&::before {
			content: '';
			position: absolute;
			left: 0; top: 0;
			width: var(--progress); height: 100%;
			background: var(--white);
			transition: width .5s linear;
		}
	}

	// .stories-popup__loader

	&__loader {
		position: absolute;
		left: 50%; top: 50%;
		translate: -50% -50%;
		width: 40px; height: 40px;
		border: 5px solid var(--white);
		border-right: 5px solid transparent;
		border-radius: 50%;
		z-index: 2;

		animation: loader 1s linear 0s infinite normal forwards;

		transition: opacity .3s ease, visibility .3s ease;
		opacity: 0; visibility: hidden;
		&.is-active {
			opacity: 1; visibility: visible;
		}
	}
}

.cart-popup {

	padding: 0;
	//opacity: 1; visibility: visible;
	
	&._active & {
		
		&__body {
			transform: translate(0,0);
		}

		&__bg {
			opacity: 1; visibility: visible;
		}
	}

	// .cart-popup__wrapper

	&__wrapper {
	}

	// .cart-popup__bg

	&__bg {
		opacity: 0; visibility: hidden;
		transition: opacity .4s ease, visibility .4s ease;
	}

	// .cart-popup__body

	&__body {
		max-width: 320px;
		@include _768 {
			max-width: 575px;
		}

		overflow-y: auto;
		padding: 0;
		max-height: none;
		height: calc(var(--svh,1vh) * 100);
		height: 100svh;
		margin: 0 0 0 auto;
		background: var(--white);

		transform: translate(100%,0);
		transition: transform .4s ease;

		@include _550 {
			padding: 0;
		}
	}

	// .cart-popup__close-btn

	&__close-btn {
		width: 40px; height: 40px;

		background: var(--white);
		z-index: 3;

		@media (any-hover: hover) {
			transition: color .2s ease;
			&:hover {
				color: var(--accent);
			}
			
			&:active {
				color: var(--accent-active);
			}
		}
	}

	// .cart-popup__container

	&__container {
		padding: 45px 20px 25px;
		@include _768 {
			padding: 40px 20px 30px;
		}

		max-height: calc(var(--svh,1vh) * 100);
		max-height: 100svh;
		overflow-y: auto;
	}

	// .cart-popup__title

	&__title {
	}

	// .cart-popup__list

	&__list {
		margin-top: 15px;
	}

	// .cart-popup__item

	&__item {
	}

	// .cart-popup__footer

	&__footer {
		margin-top: 20px;
		border: 1.5px solid #262626;

		padding: 0 20px;
		@include _550 {
			margin-top: 20px;
			padding: 0 40px;
		}

		hr {
			height: 1px;
			background: #262626;
		}
	}

	// .cart-popup__price

	&__price {

		padding: 10px 0;
		color: #2C2C2C;

		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		// .cart-popup__price--name

		&--name {
			display: block;
			padding: 5px 5px 5px 0;

			line-height: 120%;
			font-size: 1rem;
			@include _550 {
				font-size: 1.25rem;
			}
		}

		// .cart-popup__price--value

		&--value {
			display: block;
			padding: 5px 0 5px 5px;

			font-size: 1.125rem;
			@include _550 {
				font-size: 1.25rem;
			}
			
			text-align: end;
		}
	}

	// .cart-popup__result

	&__result {

		color: #2C2C2C;

		padding: 10px 0;

		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		// .cart-popup__result--name

		&--name {
			display: block;
			padding: 5px 5px 5px 0;

			font-size: 1.125rem;
			line-height: 120%;
			@include _550 {
				font-size: 1.25rem;
			}
		}

		// .cart-popup__result--value

		&--value {
			display: block;
			padding: 5px 0 5px 5px;

			text-align: end;
			font-weight: 700;
			line-height: 100%;
			font-size: 1.5rem;
			@include _550 {
				font-size: 1.75rem;
			}
			
			@include _992 {
				font-size: 2.1875rem;
			}
		}
	}

	&__buttons {
		display: grid;
		
		gap: 20px;
		padding-top: 21px;
	}
}

.cart-item {

	&:not(:first-child) &__body {
		border-top: 1px solid #E3E3E3;
	}

	display: grid;
	grid-template-rows: 1fr;

	transition: grid-template-rows .3s ease;

	&.is-removing {
		grid-template-rows: 0fr;
	}

	&.is-removing &__body {
		padding: 0;
	}

	// .cart-item__body

	&__body {
		padding: 15px 0;
		
		display: grid;
		@include _992 {
			grid-template-columns: 70px 1.3fr 1.3fr 1fr 50px;
		}
		align-items: center;

		overflow: hidden;
		transition: padding .3s ease;
	}

	&__param {
		display: flex;
		align-items: center;
		justify-content: space-between;

		padding: 10px 0;

		@include _550 {
			padding: 10px 0;
		}

		&:nth-child(2) {
			border-top: 0;
		}
		border-top: 1px solid #e5e5e5;
		&:nth-child(3) {
			//border-bottom: 1px solid #e5e5e5;
			
			@include _992 {
				justify-self: center;
				grid-column: 2 span;
			}
		}

		span:first-child {
			font-size: 1rem;
			line-height: 125%;
			color: #979797;
			@include _550 {
				font-size: 1.125rem;
			}
		}

		@include _992 {
			padding: 0;
			border-top: 0;
			&:nth-last-child(2) {
				border-bottom: 0;
			}

			display: block;
		}
	}

	// .cart-item__image

	&__image {
		@include _992 {
			margin-bottom: 0;
		}
		
		margin-bottom: 10px;

		img {
			width: 70px; height: 70px;
			object-fit: cover;
		}
	}

	// .cart-item__name

	&__name {
		padding-left: 20px;

		color: #2C2C2C;
		line-height: 120%;

		font-size: 1rem;

		@include _550 {
			font-size: 1.125rem;
		}

		@include _992 {
			font-size: 1.125rem;
		}
	}

	// .cart-item__length

	&__length {

		// .cart-item__length--btn

		&--btn {
		}

		// .cart-item__length--input

		&--input {
		}
	}

	// .cart-item__price

	&__price {
		@include _992 {
			text-align: center;
			padding-bottom: 5px;
		}

		line-height: 120%;
		font-size: 1rem;

		@include _550 {
			font-size: 1rem;
		}

		@include _992 {
			font-size: 1.125rem;
		}
		
		ins, strong {
			color: #2C2C2C;
			text-decoration: none;
			padding-right: 5px;
			font-weight: 400;
		}

		del {
			color: #979797;
		}
	}

	// .cart-item__remove

	&__remove {
		justify-self: center;
		@include _992 {
			grid-column: 5;
		}

		width: 50px; height: 50px;
		border: 1px solid #D6D6D6;
		background: transparent;

		display: flex;
		align-items: center;
		justify-content: center;

		color: var(--accent);

		@media (any-hover: hover) {
			transition: background .2s ease, color .2s ease, border-color .2s ease;
			&:hover {
				background: var(--accent);
				color: var(--white);
				border-color: var(--accent);
			}
			
			&:active {
				background: var(--accent-active);
				border-color: var(--accent-active);
				color: var(--white);
			}
		}

	}
}

.leave-review {

	// .leave-review__wrapper

	&__wrapper {
	}

	// .leave-review__bg

	&__bg {
	}

	// .leave-review__body

	&__body {
		max-width: 1000px;
		&.is-min-2 {
			max-width: 700px;
		}
		border: 2px solid #171717;

		padding: 55px 15px 30px;

		@include _550 {
			padding: 55px 25px 30px;
		}

		@include _768 {
			padding: 55px 35px 30px;
		}
	}

	// .leave-review__close-btn

	&__close-btn {
		background: #EDEDED;
		width: 50px; height: 50px;
		top: 0; right: 0;

		svg {
			width: 40%;
		}
	}

	// .leave-review__title

	&__title {
		text-align: center;

		max-width: 995px; margin: 0 auto;

		color: #202121;
		font-family: var(--title-font);
		font-weight: 700;
		line-height: 128.571%;
		font-size: 1.5rem;

		@include _550 {
			font-size: 1.75rem;
		}
		
		@include _768 {
			font-size: 2rem;
		}
		
		@include _992 {
			font-size: 2.1875rem;
			&.is-min {
				font-size: 2rem;
			}
		}
	}

	// .leave-review__rating

	&__rating {

		margin-top: 20px;
		text-align: center;		

		> span {
			color: #555656;
			text-align: center;
			line-height: 150%;
			font-size: 1rem;

			@include _550 {
				font-size: 1.125rem;
			}
		}

		// .leave-review__rating--list

		&--list {
			margin-top: 10px;

			display: flex;
			flex-direction: row-reverse;
			justify-content: center;
			flex-wrap: wrap;

			gap: 15px;

			@include _768 {
				gap: 20px;
			}

			label {

				width: 28px; height: 28px; flex: 0 0 28px;
				svg {
					width: 28px; height: 28px;
				}

				@include _768 {
					width: 38px; height: 38px; flex: 0 0 38px;
					svg {
						width: 38px; height: 38px;
					}
				}

				cursor: pointer;

				&:hover, &.is-active {
					color: var(--gold);
				}

				/* &:active {
					color: var(--gold-active);
				} */

				&:hover ~ *, &.is-active ~ * {
					color: var(--gold);
				}

				/* &:active ~ * {
					color: var(--gold-active);
				} */

				transition: color .3s ease;

				color: #D9D9D9;

				input {
					position: absolute;
					left: 50%; top: 50%;
					width: 1px; height: 1px;
					margin: -1px; padding: 0;
					border: 0;
					
					white-space: nowrap;
					clip-path: inset(100%);
					clip: rect(0 0 0 0);
					overflow: hidden;
				}
			}

		}
	}

	// .leave-review__block

	&__block {
		margin-top: 24px;

		display: grid;
		grid-template-columns: 100%;
		gap: 20px;

		@include _550 {
			margin-top: 44px;

			grid-template-columns: 1fr 1fr;
			gap: 20px 29px;
		}

		label {
			display: flex;
			flex-direction: column;
			position: relative;

			margin-top: 20px;

			&:not(.is-full) {
				@include _550 {
					margin-top: 0;
				}
			}

			> span:not(.placeholder):first-child {
				display: block;
				margin-bottom: 7px;
				-webkit-text-stroke-width: 0.5px;

				color: #4C4C4C;
				font-weight: 350;
				line-height: 125%;
				font-size: 1rem;
				
				@include _992 {
					font-size: 1.125rem;
					line-height: 188.889%;
				}
			}

			> span.placeholder {
				display: block;
				position: absolute;
				left: 0; top: 50%;
				transform: translate(26px,-50%);
				@include _550 {
					transform: translate(26px,-50%);
				}

				color: #4C4C4C;
				font-weight: 350;
				line-height: 125%;
				font-size: 1rem;

				transition: transform .2s ease, top .2s ease;
				pointer-events: none; user-select: none;
				
				@include _992 {
					font-size: 1.125rem;
					line-height: 188.889%;
				}
			}

			input {
				width: 100%;
				&.hide-placeholder {
					&::placeholder {
						opacity: 0;
						color: transparent;
					}
				}
			}

			input:not(:placeholder-shown) + .placeholder, input:focus + .placeholder {
				transform: translate(0,-100%);
				top: 0;
				@include _550 {
					transform: translate(0,-100%);
				}
			}

			@include _550 {
				&.is-full {
					grid-column: 2 span;
				}
			}
		}
	}

	// .leave-review__footer

	&__footer {
		margin-top: 30px;

		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
		flex-direction: column;
		&.is-center {
			justify-content: center;
		}
		gap: 40px 15px;

		@include _550 {
			flex-direction: row;
		}
	}

	// .leave-review__file

	&__file {

		cursor: pointer;

		> span {
			display: inline-flex;
			align-items: center;

			i {
				margin-right: 5px;
			}
		}

		color: #434343;
		text-align: center;
		font-weight: 400;
		line-height: 118.182%;
		font-size: 1.125rem;
		
		@include _768 {
			font-size: 1.25rem;
		}
		
		@include _992 {
			font-size: 1.375rem;
		}

		input {
			position: absolute;
			width: 1px; height: 1px;
			margin: -1px; padding: 0;
			border: 0;
			
			white-space: nowrap;
			clip-path: inset(100%);
			clip: rect(0 0 0 0);
			overflow: hidden;
		}
	}

	// .leave-review__submit

	&__submit {
	}
}
