.single {

	// .single__title

	&__title {
		
	}

	// .single__time

	&__time {
		margin-top: 23px;

		display: inline-flex;
		align-items: center;

		border: 2px solid #EBEAEA;
		border-radius: 50px;

		padding: 10px 15px;

		color: #2B2B2B;
		font-size: 1rem;
		
		@include _992 {
			font-size: 1.125rem;
			padding: 18px 25px;
		}
		line-height: 144.444%;

		svg {
			flex: 0 0 21px;
			margin-right: 15px; margin-top: -1px;
			color: var(--accent);
		}

	}

	// .single__content

	&__content {

		color: #292929;
		font-size: 1rem;
		
		@include _992 {
			font-size: 1.125rem;
		}
		line-height: 150%;

		a {
			color: #292929;

			text-decoration: underline;
			text-decoration-skip-ink: none;
			text-underline-offset: 3.5px;
		}

		p {
			padding-top: 24px;
		}

		figure {
			margin-top: 24px; margin-bottom: 8px;

			position: relative;
			display: block;
			padding-top: var(--padding-aspect-ratio);
			img {
				position: absolute;
				left: 0; top: 0;
				width: 100%; height: 100%;
				object-fit: cover;
			}
		}

		img {
			max-width: 100%;
			height: auto;
		}

		.table_style1, .table_style2 {
			background: #F4F4F4;
			height: auto !important;

			h2 {
				padding-top: 0;
			}
		}

		.table_style1 tr {
			flex-direction: column-reverse;
		}

		.table_style1 tr td {
			&:nth-child(1) {
				> * {
					justify-self: center;
				}

				@include _992 {
					display: table-cell !important;
					
					width: 33.333% !important;
					img {
						max-width: 100%;
					}
				}
			}

			&:nth-child(2) {
				background: rgba(255, 255, 255, 0.30) url("data:image/svg+xml,%3Csvg viewBox='0 0 1149 761' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_157_7)'%3E%3Cpath d='M1149 0H586.056H528.983H0V761H528.983H586.056H1149V0ZM265.322 661.196C154.247 656.483 61.0964 568.222 50.9519 457.542C47.4052 420.49 53.0679 385.098 65.577 353.236C68.3991 345.928 72.1748 338.85 75.9504 332C87.0293 312.654 100.472 294.948 115.346 278.444L275.008 99.804L433.965 277.968C451.431 297.562 466.991 318.798 478.775 342.38C482.074 349.229 485.373 356.536 487.966 364.321C495.994 387.216 499.752 411.752 499.752 436.059C499.732 563.51 393.615 666.386 265.322 661.196ZM1099.25 711.222H586.056H549.501V49.7975H586.056H1099.25V711.222Z' fill='white' fill-opacity='0.3'/%3E%3Cpath d='M274.767 301.843C199.999 301.843 139.398 362.443 139.398 437.211C139.398 511.979 199.999 572.579 274.767 572.579C349.535 572.579 410.383 511.96 410.383 437.211C410.383 362.443 349.535 301.843 274.767 301.843Z' fill='white'/%3E%3Cpath d='M814.742 660.812C943.036 665.999 1049.17 563.181 1049.17 435.821C1049.17 411.528 1045.4 387.006 1037.39 364.124C1034.79 356.344 1031.5 349.021 1028.2 342.195C1016.41 318.607 1000.83 297.383 983.385 277.819L824.429 99.7559L663.357 279.707C649.456 295.267 636.947 312.009 626.325 330.182C622.073 337.485 618.069 345.284 614.999 353.064C602.49 384.908 596.845 420.281 600.372 457.312C610.517 567.891 703.667 656.103 814.742 660.812ZM824.181 301.864C898.949 301.864 959.797 362.464 959.797 437.233C959.797 512.001 898.949 572.601 824.181 572.601C749.413 572.601 688.813 511.982 688.813 437.233C688.813 362.464 749.413 301.864 824.181 301.864Z' fill='white' fill-opacity='0.3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_157_7'%3E%3Crect width='1149' height='761' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A")
				center / auto 100% no-repeat;
				padding: 24px;

				@include _992 {
					display: table-cell !important;
					width: 67.666% !important;

					padding: 73px;
					
					img {
						max-width: 100%;
					}
				}
			}
		}

		.table_style2 tr td {
			&:nth-child(2) {
				> * {
					justify-self: center;
				}

				@include _992 {
					display: table-cell !important;
					width: 33.333% !important;
					
					img {
						max-width: 100%;
					}
				}
			}

			&:nth-child(1) {
				background: rgba(255, 255, 255, 0.30) url("data:image/svg+xml,%3Csvg viewBox='0 0 1149 761' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_157_7)'%3E%3Cpath d='M1149 0H586.056H528.983H0V761H528.983H586.056H1149V0ZM265.322 661.196C154.247 656.483 61.0964 568.222 50.9519 457.542C47.4052 420.49 53.0679 385.098 65.577 353.236C68.3991 345.928 72.1748 338.85 75.9504 332C87.0293 312.654 100.472 294.948 115.346 278.444L275.008 99.804L433.965 277.968C451.431 297.562 466.991 318.798 478.775 342.38C482.074 349.229 485.373 356.536 487.966 364.321C495.994 387.216 499.752 411.752 499.752 436.059C499.732 563.51 393.615 666.386 265.322 661.196ZM1099.25 711.222H586.056H549.501V49.7975H586.056H1099.25V711.222Z' fill='white' fill-opacity='0.3'/%3E%3Cpath d='M274.767 301.843C199.999 301.843 139.398 362.443 139.398 437.211C139.398 511.979 199.999 572.579 274.767 572.579C349.535 572.579 410.383 511.96 410.383 437.211C410.383 362.443 349.535 301.843 274.767 301.843Z' fill='white'/%3E%3Cpath d='M814.742 660.812C943.036 665.999 1049.17 563.181 1049.17 435.821C1049.17 411.528 1045.4 387.006 1037.39 364.124C1034.79 356.344 1031.5 349.021 1028.2 342.195C1016.41 318.607 1000.83 297.383 983.385 277.819L824.429 99.7559L663.357 279.707C649.456 295.267 636.947 312.009 626.325 330.182C622.073 337.485 618.069 345.284 614.999 353.064C602.49 384.908 596.845 420.281 600.372 457.312C610.517 567.891 703.667 656.103 814.742 660.812ZM824.181 301.864C898.949 301.864 959.797 362.464 959.797 437.233C959.797 512.001 898.949 572.601 824.181 572.601C749.413 572.601 688.813 511.982 688.813 437.233C688.813 362.464 749.413 301.864 824.181 301.864Z' fill='white' fill-opacity='0.3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_157_7'%3E%3Crect width='1149' height='761' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A")
				center / auto 100% no-repeat;
				padding: 24px;

				@include _992 {
					padding: 73px;

					display: table-cell !important;
					width: 67.666% !important;
				}
			}
		}

		tr {
			display: flex;
			flex-direction: column;
			gap: 15px;
			@include _992 {
				display: table-row;
			}

			td {
				width: 100% !important;
				height: auto !important;

				h2 {
					color: var(--accent);
					font-family: var(--title-font);
					font-weight: 700;
					line-height: 133.333%;
					font-size: 1.5rem;
					@include _550 {
						font-size: 2rem;
					}
					
					@include _768 {
						font-size: 2.5rem;
					}
					
					@include _992 {
						font-size: 2.8125rem;
					}
				}

				h3 {
					color: var(--accent);
					font-family: var(--title-font);
					font-weight: 700;
					line-height: 133.333%;
					font-size: 1.25rem;
					@include _550 {
						font-size: 1.75rem;
					}
					
					@include _768 {
						font-size: 2rem;
					}
					
					@include _992 {
						font-size: 2.1875rem;
					}
				}

				display: grid;
				img[style="float: left;"] {
					text-align: center;
					float: none !important;
				}

				img[style="float: right;"] {
					text-align: center;
					float: none !important;
				}
				@include _992 {
					display: table-cell !important;
					width: 50% !important;
					img[style="float: left;"] {
						text-align: start;
						float: left !important;
					}

					img[style="float: right;"] {
						text-align: end;
						float: right !important;
					}
				}
			}
		}

		strong {
			font-size: 1.25rem;
			line-height: 130%;
		}

		h2 {
			padding-top: 28px;

			color: #202121;

			font-family: var(--title-font);
			font-size: 1.25rem;
			@include _550 {
				font-size: 1.5rem;
			}
			
			@include _768 {
				font-size: 2.25rem;
			}
			
			@include _992 {
				font-size: 2.5rem;
			}
			font-weight: 700;
			line-height: 142.5%;
		}

		ul {
			padding-top: 8px;

			li {
				&:not(:first-child) {
					margin-top: 10px;
				}

				position: relative;
				padding-left: 20px;
				@include _992 {
					padding-left: 30px;
				}

				&::before {
					content: '';
					position: absolute;
					left: 0; top: 2.5px;
					width: 15px; height: 15px;
					@include _992 {
						top: 2.5px;
						width: 20px; height: 20px;
					}
					background: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='20' height='20' rx='10' fill='%23A78F7A'/%3E%3Cpath d='M13.7909 7.47078C13.5124 7.19194 13.0602 7.19212 12.7814 7.47078L8.23808 12.0143L6.21877 9.99498C5.93994 9.71615 5.48796 9.71615 5.20912 9.99498C4.93029 10.2738 4.93029 10.7258 5.20912 11.0046L7.73315 13.5287C7.87248 13.668 8.05518 13.7378 8.23789 13.7378C8.4206 13.7378 8.60347 13.6682 8.7428 13.5287L13.7909 8.48041C14.0697 8.20177 14.0697 7.74959 13.7909 7.47078Z' fill='white'/%3E%3C/svg%3E%0A")
					center / contain no-repeat;
				}
			}

			&:not(.check-list) {
				padding-top: 15px;
				li {
					&:not(:first-child) {
						margin-top: 10px;
					}
					position: relative;
					padding-left: 20px;
					&::before {
						content: '';
						position: absolute;
						left: 0; top: 3px;
						width: 15px; height: 15px;
						@include _992 {
							top: 5px;
						}
						background: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='9' height='9' rx='4.5' fill='white' stroke='%23A78F7A'/%3E%3Crect x='3' y='3' width='4' height='4' rx='2' fill='%23A78F7A'/%3E%3C/svg%3E%0A")
						center / contain no-repeat;
					}
				}
			}
		}

		ol {
			padding-top: 14px;

			list-style-type: none;
			counter-reset: list_number;

			li {
				&:not(:first-child) {
					margin-top: 5px;
					@include _992 {
						margin-top: 15px;
					}
				}

				position: relative;
				padding: 3px 0 3px 35px;
				min-height: 25px;
				@include _992 {
					padding: 3px 0 3px 48px;
					min-height: 35px;
				}
				

				&::before {
					
					counter-increment: list_number;
					content: counter(list_number);

					display: flex;
					align-items: center;
					justify-content: center;

					color: var(--white);
					font-weight: 700;
					line-height: 166.667%;
					
					position: absolute;
					left: 0; top: 5px;
					padding-top: 3px;
					width: 25px; height: 25px;
					@include _992 {
						top: 0;
						width: 35px; height: 35px;
					}
					background: var(--accent);
				}
			}
		}
	}
}
